# 切换道具
# bind "mouse3" "use weapon_knife;use weapon_flashbang;"
# bind "mouse5" "use incgrenade; use molotov;"
# bind "mouse4" "use smokegrenade;"
bind mouse5 "slot7";     # 闪光弹
bind x "slot8";     # 烟雾弹
bind c "slot6";     # 手榴弹
bind mouse3 "slot10";    # 燃烧弹和燃烧手榴弹
# 提高fps
sv_cheats 1
r_csgo_water_effects false
r_csgo_water_refraction false

# 减少粘滞 + 滚轮跳
bind "w" "+forward; //";
bind "s" "+back; //";
bind "a" "+left; //";
bind "d" "+right; //";
bind "ctrl" "+duck; //";
bind "shift" "+sprint; //";
bind "mwheeldown" "+jump; //";
bind "space" "+jump; //";

# 准心
# bind o "apply_crosshair_code CSGO-jQx5T-f7moo-kwd7v-om3hc-RMQNN";
# bind i "apply_crosshair_code CSGO-iEOYQ-i6ekq-fosnh-mRidk-hzSKF";

# 雷达
hud_scaling 0.95;
cl_hud_radar_scale 1;
cl_radar_scale 0.35;
cl_radar_always_centered 0;
cL_radar_icon_scale_min 0.6;
cl_updaterate 128;

# 语音
bind "l" "say ʕ ᵔᴥᵔ ʔ"
bind "0" "setpos -512.000000 1696.000000 88.682266;setang -36.177467 -126.429222 0.000000"
# 雷达设置
bind t "incrementvar cl_radar_scale 0 1 0.25"

echo ained